# Bower stuff, except needed js files
!bower_components
bower_components/*

!bower_components/threejs
bower_components/threejs/*
!bower_components/threejs/build
bower_components/threejs/build/*
!bower_components/threejs/build/three.min.js

!bower_components/stats.js
bower_components/stats.js/*
!bower_components/stats.js/build
bower_components/stats.js/build/*
!bower_components/stats.js/build/stats.min.js

# blender anything
models/chip.blend*

